body {
	margin: 0px;
	padding: 0px;
}

nav {
	background-color: #7c8087;
	margin: 0px;
	padding: 0px;
	height: 50px;
	overflow: auto;
}

nav a {
	height: 35px;
	width: 80px;
	text-align: center;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding-top: 15px;
	transition: color 0.3s;
    -o-transform: color 0.3s;
    -moz-transform: color 0.3s;
    -webkit-transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
}

nav a:visited {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #b1f28e;
	text-decoration: none;
}

#nav-sidebar {
	height: 10px;
	width: 100px;
	display: inline-block;
}