* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #090909;
}

.sidebar {
	height: 3840px;
	background-color: #949396;
}
.card {
	height: 500px;
	position: absolute;
	font-size: 30px;
	background-color: #347fc4;
}

#left-sidebar {
	float: left;
}

#right-sidebar {
	float: right;
}

#cover {
	width: 300px;
	height: 450px;
	background-image: url(images/man-stool.jpg);
	background-repeat: no-repeat;
	position: fixed;
}

#about-me {
	top: 450px;
}

#experience {
	top: 1400px;
}

#class-projects {
	top: 2350px;
}

#personal-projects {
	top: 3300px;
}