#display {
	display: block;
	text-align: center;
	margin-top: 10vh;
}

.lightbulb {
	display: inline;
}

img {
	width: 10vw;
}

#result {
	text-align: center;
	margin-top: 10vh;
}

#type {
	display: block;
}

#type > div {
	text-align: center;
	width: 20vw;
	border: 1px solid black;
}

#signed {
	float: left;
	background-color: red;
	margin-left: 20vw;
}

#unsigned {
	float: right;
	margin-right: 20vw;
}